.padding-top-1em{
  padding-top: 1em;
}

.padding-top-2em{
  padding-top: 2em;
}

.padding-bottom-3em{
  padding-bottom: 3em;
}

.modal-title-label-dlg{
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0;
}
